@model EntityLayer.Concrete.User
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("AddUser", "AdminUser", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kullanıcı Adı")
        @Html.TextBoxFor(x => x.USER_NAME, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.USER_NAME)
        <br />
        @Html.Label("Kullanıcı Soyadı")
        @Html.TextBoxFor(x => x.USER_SURNAME, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.USER_SURNAME)
        <br />
        @Html.Label("Kullanıcı Mail")
        @Html.TextBoxFor(x => x.USER_MAIL, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.USER_MAIL)
        <br />
        @Html.Label("Kullanıcı Şifresi")
        @Html.TextBoxFor(x => x.USER_PASSWORD, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.USER_PASSWORD)
        <br />
        @Html.Label("Kullanıcı Görsel Linki")
        @Html.TextBoxFor(x => x.USER_IMAGE, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.USER_IMAGE)
        <br />
        @Html.Label("Kullanıcı Unvanı")
        @Html.TextBoxFor(x => x.USER_TITLE, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.USER_TITLE)
        <br />
        @Html.Label("Kullanıcı Hakkında")
        @Html.TextBoxFor(x => x.USER_ABOUT, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.USER_ABOUT)
        <br />
        @Html.Label("Rol Adı")
        @Html.DropDownListFor(x => x.ROLE_CODE, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x)
        <br />
        <button class="btn btn-info">Kullanıcıyı Ekle</button>
    </div>
}

