@model EntityLayer.Concrete.UserRoles
@{
    ViewBag.Title = "AddRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Rol Ekleme</h2>
<br />
@using (Html.BeginForm("AddRole", "Role", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Rol Adı")
        @Html.TextBoxFor(x => x.ROLE_NAME, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x)
        <br />
        @Html.Label("Kullanıcı")
        @Html.TextBoxFor(x => x.USER_CODE, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.USER_CODE)
        <br />
        <button class="btn btn-info">Rol Oluştur</button>
    </div>
}
